#description_inner {
   color: white;
   background-color: Gray;
   width: 15%;
   opacity: 0.8;
   border-style: solid;
   border-color: gray;
   border-radius: 5px;
   font-family: sans-serif, "Times New Roman", Times, serif;
   overflow: auto;
   position: fixed;
   bottom: 0;
   left: 0;
}

#description{
  display: none;
  position: fixed;
  bottom: 0;
  left: 15%;

}
